<mat-icon>receipt</mat-icon><mat-label><b>Podaj kod e-Recepty i załącz plik</b></mat-label>
<div>
  <mat-form-field appearance="outline" style="margin-right: 2rem">
    <input matInput type="text" [(ngModel)]="code" placeholder="Kod e-Recepty" matTooltip="Dodaj kod e-Recepty">
  </mat-form-field>

  <input [disabled]="!code" type="file" class="file-input"
         accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps"
         (change)="onFileSelected($event)">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">
  </mat-progress-bar>

  <mat-icon class="cancel-upload" (click)="cancelUpload()"
            *ngIf="uploadProgress">delete_forever
  </mat-icon>
  <div>
    <ng-container *ngIf="prescription">
      <mat-label>Bieżąca e-Recepta</mat-label>
      <div>

        <button mat-button (click)="downloadPrescription()"
                style="margin-bottom: 0.5rem; font-size: 17px; color: blue">
          <mat-icon> insert_drive_file</mat-icon>
          Pobierz e-Receptę {{prescription.code}}
          <mat-icon style="color: red">picture_as_pdf
          </mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

</div>
