<div class="container mt-5">
  <div class="card" style="padding: 20px;">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text"
             ngModel
             name="userName"
             id="userName"
             placeholder="Wprowadź email"
             class="form-control mb-3"
      >

      <input type="password"
             ngModel
             name="userPassword"
             id="userPassword"
             placeholder="Wprowadź hasło"
             class="form-control mb-3"
      >

      <input type="submit"
             value="Zaloguj się"
             class="btn btn-outline-primary form-control rounded-0">
    </form>
  </div>
</div>
