div {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100%;
  margin: 5%;
  font-size: 200%;
  background-color: royalblue;
  color: white;
}

.mat-button{
  min-height: 6rem;
  min-width: 30rem;

}
