<div class="container rounded bg-white" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels"><b>Imię</b></label>
            <div>
              {{user.userFirstName}}
            </div>
          </div>
          <div class="col-md-6">
            <label class="labels"><b>Nazwisko</b></label>
            <div>
              {{user.userLastName}}
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels"><b>Pesel</b></label>
            <div>
              {{user.pesel}}
            </div>
          </div>
          <div class="col-md-6">
            <label class="labels"><b>Wiek</b></label>
            <div>
              {{user.age}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
