.mat-cell {
  box-sizing: border-box;
  text-align: center;
}

.mat-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.mat-form-field{
  font-size: 12px;
}

.bigger-font-header {
  font-size: 20px;
}

.bigger-font-cell {
  font-size: 18px;
}

.my-checkbox {
  margin-right: 1.5rem;
  margin-bottom: 1rem
}

.mat-form-field {
  min-width: 10rem;
  margin-left: 1.5rem;
}

.mat-icon {
  cursor: pointer;
  display: inline;
}

.sort-arrow {
  font-size: 14px;
}

.clear-icon {
  cursor: pointer;
}

.mat-column-id {
  flex: 0 0 4%
}

.mat-column-actions {
  padding: 0;
  flex: 0 0 20%
}

.accept-btn {
  background-color: green;
  color: white;
  margin-right: 8px;
}

.reject-btn {
  background-color: red;
  color: white;
}
